// import profiles and workflow SHA from core
includeConfig "base.config"


// define workflow params
params {
    help = false
    version = false
    aws_image_prefix = null
    aws_queue = null
    disable_ping = false

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'

    // I/O
    input = null
    ref = null
    sample_name = "SAMPLE"
    store_dir = null

    // basecalling
    experimental = false
    /// common
    basecaller_chunk_size = 25
    basecaller_cfg = null
    basecaller_args = null
    basecaller_basemod_threads = 2
    duplex = false
    cuda_device = "cuda:all"
    ubam_map_threads = 8
    ubam_sort_threads = 3
    ubam_bam2fq_threads = 1
    merge_threads = 4
    stats_threads = 4
    basecaller_model_path = null
    remora_model_path = null
    qscore_filter = 10
    /// dorado
    remora_cfg = null
    dorado_ext = "pod5"
    poly_a_config = null
    /// bonito
    use_bonito = false
    bonito_cfg = 'dna_r10.4.1_e8.2_400bps_trns@v5.0.alpha'
    /// wf-basecalling
    output_fmt = "cram"
    output_pod5 = false
    // demuxing
    barcode_kit = null
    demux_args = null
    /// Stream input
    watch_path = false
    read_limit = null
    // Create IGV configuration
    igv = false

    wf {
        example_cmd = [
            "--basecaller_cfg 'dna_r10.4.1_e8.2_400bps_hac@v5.0.0'",
            "--dorado_ext 'pod5'",
            "--input 'wf-basecalling-demo/input'",
            "--ref 'wf-basecalling-demo/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta'",
            "--remora_cfg 'dna_r10.4.1_e8.2_400bps_hac@v5.0.0_5mCG_5hmCG@v2'",
        ]
        agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-basecalling'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-basecalling'
    description     = 'Helper workflow for basecalling ONT reads.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = '1.5.5'
}

epi2melabs {
    tags = "wf-basecalling,dorado,basecalling,utility"
    icon = "faTty"
}
